@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

input, button, select {
  font: inherit;
}

.rdp .rdp-day.rdp-sunday,
.rdp .rdp-day.rdp-holiday {
  color: #dc2626;
}

.rdp .rdp-day.rdp-saturday {
  color: #2563eb;
}
